Repository NaKaLiGoBa/Algorithm, pull requests merged in 2023-07, with the labels that each got.

#13 [하민] N개의 최소 공배수
  01-string-and-math/12953/hamin.js
Labels: JavaScript

#14 [진영] N개의 최소공배수
  01-string-and-math/12953/math_test2.py
Labels: Python

#12 [규진] N개의 최소공배수
  01-string-and-math/12953/gyujin.java
Labels: Java

#17 [하민] 그룹 단어 체커
  01-string-and-math/1316/hamin.js
Labels: JavaScript

#16 [국인] 그룹 단어 체커
  01-string-and-math/1316/gukin-han.java
Labels: Java

#15 [대은] 그룹 단어 체커
  01-string-and-math/1316/Acisliver.java
Labels: Java

#19 [진영]그룹 단어 체커
  01-string-and-math/1316/Beakjoon1316.py
Labels: Python

#18 [규진] 그룹 단어 체커
  01-string-and-math/1316/group_word_checker.java
Labels: Java

#22 [대은] 펠림드롬?
  01-string-and-math/10942/Acisliver.java
Labels: Java

#21 [규진] 팰린드롬?
  01-string-and-math/10942/gyujin_palindrome.java
Labels: Java

#23 [하민] - 팰린드롬?
  01-string-and-math/10942/hamin.js
Labels: JavaScript

#20 [국인] 팰린드롬?
  01-string-and-math/10942/gukin-han.java
Labels: Java

#27 [규진] 다리놓기
  01-string-and-math/1010/bridge_dp.java
Labels: Java

#26 [대은] 다리 놓기
  01-string-and-math/1010/Acisliver.java
Labels: Java

#28 [하민] 다리 놓기
  01-string-and-math/1010/hamin.js
Labels: JavaScript

#24 [진영] 팰린드롬?
  01-string-and-math/1010/BeakJoon_1010.py
  01-string-and-math/10942/BeakJoon_10942.py
Labels: Python

#25 [국인] 다리 놓기
  01-string-and-math/1010/gukin-han.java
Labels: Java

#30 [대은] 단어 뒤집기 2
  01-string-and-math/17413/Acisliver.java
Labels: Java

#29 [규진] 단어 뒤집기2
  01-string-and-math/17413/word_reverse.java
Labels: Java

#32 [국인] 단어 뒤집기 2
  01-string-and-math/17413/gukin-han.java
Labels: Java

#31 [하민] 단어 뒤집기2
  01-string-and-math/17413/hamin.js
Labels: JavaScript

#33 [진영] 단어 뒤집기2
  01-string-and-math/17413/Lazyro_choi.py
Labels: Python

#38 [하민] 요세푸스 문제
  02-data-structure-stack-queue-map/1158/hamin.js
Labels: JavaScript

#36 [대은] 신고 결과 받기
  02-data-structure-stack-queue-map/92334/Acisliver.java
Labels: Java

#37 [규진] 요세푸스 문제
  02-data-structure-stack-queue-map/1158/gyujin.java
Labels: Java

#39 [진영] 요세푸스 문제
  02-data-structure-stack-queue-map/1158/zeroChoi.py
  02-data-structure-stack-queue-map/1158/zeroChoi02.py
  02-data-structure-stack-queue-map/1158/zeroChoi2.py
Labels: Python

#34 [국인] 요세푸스 문제, 신고 결과 받기
  02-data-structure-stack-queue-map/1158/gukin-han.java
  02-data-structure-stack-queue-map/92334/gukin-han.java
Labels: Java

#43 [규진] 크레인 인형뽑기 게임
  02-data-structure-stack-queue-map/64061/gyujin.java
Labels: Java

#42 [하민] 크레인 인형뽑기 게임
  02-data-structure-stack-queue-map/64061/hamin.js
Labels: JavaScript

#40 [대은] 크레인 인형뽑기 게임
  Acisliver.java
Labels: Java

#41 [국인] 크레인 인형뽑기 게임
  02-data-structure-stack-queue-map/2504/gukin-han.java
  02-data-structure-stack-queue-map/64061/gukin-han.java
Labels: Java

#47 [진영] 괄호의 값
  02-data-structure-stack-queue-map/2504/zeroChoi.py
Labels: Python

#46 [하민] 괄호의 값
  02-data-structure-stack-queue-map/2504/hamin.js
Labels: JavaScript

#48 [규진] 괄호의 값
  02-data-structure-stack-queue-map/2504/gyujin.java
Labels: Java

#45 [대은] 괄호의 값
  02-data-structure-stack-queue-map/2504/Acisliver.java
  02-data-structure-stack-queue-map/64061/Acisliver.java
Labels: Java

#52 [대은] 프린터 큐
  02-data-structure-stack-queue-map/1966/Acisliver.java
Labels: Java

#51 [규진] 프린터큐
  02-data-structure-stack-queue-map/1966/gyujin.java
Labels: Java

#49 [국인] 프린터 큐
  02-data-structure-stack-queue-map/1966/gukin-han.java
Labels: Java

#50 [하민] 프린터 큐
  02-data-structure-stack-queue-map/1966/hamin.js
Labels: JavaScript

#53 [진영] 프린터의 큐
  02-data-structure-stack-queue-map/1996/zeroChoi.py
Labels: Python

#56 [규진] 막대기
  02-data-structure-stack-queue-map/17608/gyujin.java
Labels: Java

#55 [하민] 막대기
  02-data-structure-stack-queue-map/17608/hamin.js
Labels: JavaScript

#54 [국인] 막대기
  02-data-structure-stack-queue-map/17608/gukin-han.java
Labels: Java

#61 [하민] DFS와 BFS
  03-dfs-bfs-graph/1260/hamin.js
Labels: JavaScript

#62 [진영] DFS와 BFS
  03-dfs-bfs-graph/1260/zerochoi.py
Labels: Python

#59 [국인] DFS와 BFS
  03-dfs-bfs-graph/1260/gukin-han.java
Labels: Java

#58 [규진] DFS와 BFS
  03-dfs-bfs-graph/1260/gyujin.java
Labels: Java

#60 [대은] DFS와 BFS
  03-dfs-bfs-graph/Acisliver.java
  03-dfs-bfs-graph/acisliver.js
Labels: JavaScript, Java

#67 [대은] 연결 요소 개수
  03-dfs-bfs-graph/11724/Acisliver.java
  03-dfs-bfs-graph/1260/Acisliver.java
  03-dfs-bfs-graph/1260/acisliver.js
Labels: Java

#66 [규진] 연결 요소의 개수
  03-dfs-bfs-graph/11724/gyujin.java
Labels: Java

#65 [하민] 연결 요소의 개수
  03-dfs-bfs-graph/11724/hamin.js
Labels: JavaScript

#63 [진영] 연결 요소의 개수
  03-dfs-bfs-graph/11724/zeroChoi.py
Labels: Python

#64 [국인] 연결 요소의 개수
  03-dfs-bfs-graph/11724/gukin-han.java
Labels: Java

#70 [규진] 타겟 넘버
  03-dfs-bfs-graph/43165/gyujin.java
Labels: Java

#68 [대은] 타켓 넘버
  03-dfs-bfs-graph/43165/acisliver.js
Labels: JavaScript

#69 [국인] 타겟 넘버
  03-dfs-bfs-graph/43165/gukin-han.java
Labels: Java

#71 [진영] 타켓 넘버
  03-dfs-bfs-graph/43165/zeroChoi.py
Labels: Python

#75 [국인] 단지번호붙이기
  03-dfs-bfs-graph/2667/gukin-han.java
Labels: Java

#77 [진영] 단지번호 붙이기
  03-dfs-bfs-graph/2667/zeroChoi.py
Labels: Python

#73 [규진] 단지번호붙이기
  03-dfs-bfs-graph/2667/gyujin.java
Labels: Java

#74 [대은] 단지번호붙이기
  03-dfs-bfs-graph/2667/Acisliver.java
Labels: Java

#76 [하민] 단지번호붙이기
  03-dfs-bfs-graph/2667/hamin.js
Labels: JavaScript

#82 [규진] 미로 탐색
  03-dfs-bfs-graph/2178/gyujin.java
Labels: Java

#79 [하민] 미로 탐색
  03-dfs-bfs-graph/2178/hamin.js
Labels: JavaScript

#78 [대은] 미로 탐색
  03-dfs-bfs-graph/Acisliver.java
Labels: Java

#81 [진영] 미로탐색
  03-dfs-bfs-graph/2178/zeroChoi.py
Labels: Python

#80 [국인] 미로탐색
  03-dfs-bfs-graph/2178/gukin-han.java
Labels: Java

#84 [대은] N-Queen
  04-brute-force-and-exhaustive-search/12952/Acisliver.java
Labels: Java

#86 [규진] N-Queen
  04-brute-force-and-exhaustive-search/12952/gyujin.java
Labels: Java

#85 [진영] N-Queen
  04-brute-force-and-exhaustive-search/12952/zeroChoi.py
Labels: Python

#87 [국인] N-Queen
  04-brute-force-and-exhaustive-search/12952/gukin-han.java
Labels: Java
