Repository NaKaLiGoBa/Algorithm, pull requests merged in 2023-08, with the labels that each got.

#88 [국인] 스도쿠
  04-brute-force-and-exhaustive-search/2580/gukin-han.java
Labels: Java

#92 [진영]스도쿠
  04-brute-force-and-exhaustive-search/2580/zeroCHoo.py
Labels: Python

#90 [하민] 스도쿠
  04-brute-force-and-exhaustive-search/2580/hamin.js
Labels: JavaScript

#89 [규진] 스도쿠
  04-brute-force-and-exhaustive-search/2580/gyujin.java
Labels: Java

#91 [대은] 스도쿠
  04-brute-force-and-exhaustive-search/2580/Acisliver.java
Labels: Java

#97 [규진] 암호 만들기
  04-brute-force-and-exhaustive-search/1759/gyujin.java
Labels: Java

#94 [진영] 암호 만들기
  04-brute-force-and-exhaustive-search/1759/zeroChoi.py
Labels: Python

#96 [대은] 암호 만들기
  04-brute-force-and-exhaustive-search/1759/Acisliver.java
Labels: Java

#93 [국인] 암호 만들기
  04-brute-force-and-exhaustive-search/1759/gukin-han.java
Labels: Java

#95 [하민] 암호 만들기
  04-brute-force-and-exhaustive-search/1759/hamin.js
Labels: JavaScript

#100 [규진] N과 M(3)
  04-brute-force-and-exhaustive-search/15651/gyujin.java
Labels: Java

#99 [국인] N과 M (3)
  04-brute-force-and-exhaustive-search/15651/gukin-han.java
Labels: Java

#101 [하민] N과 M (3)
  04-brute-force-and-exhaustive-search/15351/data.txt
  04-brute-force-and-exhaustive-search/15351/hamin.js
Labels: JavaScript

#98 [대은] N과 M(3)
  04-brute-force-and-exhaustive-search/15651/Acisliver.java
Labels: Java

#105 [대은] 블랙잭
  04-brute-force-and-exhaustive-search/2798/Acisliver.java
Labels: Java

#104 [국인] 블랙잭
  04-brute-force-and-exhaustive-search/2798/gukin-han.java
Labels: Java

#103 [규진] 블랙잭
  04-brute-force-and-exhaustive-search/2798/gyujin.java
Labels: Java

#106 [하민] 블랙잭
  04-brute-force-and-exhaustive-search/2798/hamin.js
Labels: JavaScript

#107 [진영] 블랙잭
  04-brute-force-and-exhaustive-search/2798/zeroChoi.py
Labels: Python

#110 [대은] 모든 순열
  04-brute-force-and-exhaustive-search/10974/Acisliver.java
Labels: Java

#108 [국인] 모든 순열
  04-brute-force-and-exhaustive-search/10974/gukin-han.java
Labels: Java

#112 [진영] 모든 순열
  04-brute-force-and-exhaustive-search/10947/zeroChoi.py
Labels: Python

#114 [하민] 바이러스
  04-brute-force-and-exhaustive-search/2606/data.txt
  04-brute-force-and-exhaustive-search/2606/hamin.js
Labels: JavaScript

#116 [진영] 바이러스
  04-brute-force-and-exhaustive-search/2606/zeroChoi.py
Labels: Python

#113 [국인] 바이러스
  04-brute-force-and-exhaustive-search/2606/gukin-han.java
Labels: Java

#115 [대은] 바이러스
  04-brute-force-and-exhaustive-search/2606/Acisliver.java
Labels: Java

#120 [진영] N과 M(1)
  04-brute-force-and-exhaustive-search/15649/zeroChoi.py
Labels: Python

#117 [국인] N과 M(1)
  04-brute-force-and-exhaustive-search/15649/gukin-han.java
Labels: Java

#118 [대은] N과 M(1)
  04-brute-force-and-exhaustive-search/15649/acisliver.js
Labels: JavaScript

#119 [하민] N과 M (1)
  04-brute-force-and-exhaustive-search/15649/data.txt
  04-brute-force-and-exhaustive-search/15649/hamin.js
Labels: JavaScript

#122 [대은] 연산자 끼워넣기
  04-brute-force-and-exhaustive-search/14888/Acisliver.java
Labels: Java

#121 [국인] 연산자 끼워넣기
  04-brute-force-and-exhaustive-search/14888/gukin-han.java
Labels: Java

#123 [하민] 연산자 끼워넣기
  04-brute-force-and-exhaustive-search/14888/data.txt
  04-brute-force-and-exhaustive-search/14888/hamin.js
Labels: JavaScript

#125 [진영] 연산자 끼워넣기
  04-brute-force-and-exhaustive-search/14888/zeroChoi.py
Labels: Python

#124 [규진] 연산자 끼워넣기
  04-brute-force-and-exhaustive-search/14888/gyujin.java
Labels: Java

#127 [대은] 촌수계산
  04-brute-force-and-exhaustive-search/2644/Acisliver.java
Labels: Java

#126 [국인] 촌수계산
  04-brute-force-and-exhaustive-search/2644/gukin-han.java
Labels: Java

#130 [진영] 촌수 계산
  04-brute-force-and-exhaustive-search/2644/zeroChoi.py
Labels: Python

#128 [규진] 촌수계산
  04-brute-force-and-exhaustive-search/2644/gyujin.java
Labels: Java

#129 [하민] 촌수 계산
  04-brute-force-and-exhaustive-search/2644/data.txt
  04-brute-force-and-exhaustive-search/2644/hamin.js
Labels: JavaScript

#134 [국인] 합 계산기
  01-string-and-math/gukin-han.java
Labels: Java

#132 [하민] 합 계산기
  01-string-and-math/195685/hamin.js
Labels: JavaScript

#138 [진영] 완벽한 햄버거 만들기
  01-string-and-math/zeroChoi.py
Labels: Python

#139 [규진] 완벽한 햄버기 만들기
  01-string-and-math/195686/gyujin.java
Labels: Java

#135 [대은] 완벽한 햄버거 만들기
  01-string-and-math/195686/Acisliver.java
Labels: Java

#136 [하민] 완벽한 햄버거 만들기
  01-string-and-math/195686/hamin.js
Labels: JavaScript

#137 [국인] 완벽한 햄버거 만들기
  01-string-and-math/195686/gukin-han.java
  01-string-and-math/195686/gukin-han.js
Labels: JavaScript, Java

#144 [진영] 이진수 정렬
  01-string-and-math/195687/zeroChoi.py
Labels: Python

#140 [대은] 이진수 정렬
  01-string-and-math/195687/Acisliver.java
Labels: Java

#141 [국인] 이진수 정렬
  01-string-and-math/195687/gukin-han.java
  01-string-and-math/195687/gukin-han.js
Labels: JavaScript, Java

#143 [규진] 이진수 정렬
  01-string-and-math/195687/gyujin.java
Labels: Java

#142 [하민] 이진수 정렬
  01-string-and-math/195687/hamin.js
Labels: JavaScript

#148 [하민] 문자열 나누기
  04-brute-force-and-exhaustive-search/195688/hamin.js
Labels: JavaScript

#149 [진영] 문자열 나누기
  04-brute-force-and-exhaustive-search/195688/zeroChoi.py
Labels: Python

#146 [대은] 문자열 나누기
  04-brute-force-and-exhaustive-search/195688/Acisliver.java
Labels: Java

#145 [국인] 문자열 나누기
  04-brute-force-and-exhaustive-search/195688/gukin-han.java
  04-brute-force-and-exhaustive-search/195688/gukin-han.js
Labels: JavaScript, Java

#152 [하민] 구름 찾기 깃발
  04-brute-force-and-exhaustive-search/195689/hamin.js
Labels: JavaScript

#151 [규진] 구름 찾기 깃발
  04-brute-force-and-exhaustive-search/195689/gyujin.java
Labels: Java

#150 [대은] 구름 찾기 깃발
  04-brute-force-and-exhaustive-search/195689/Acisliver.java
Labels: Java

#157 [하민] 통증
  04-brute-force-and-exhaustive-search/195690/hamin.js
Labels: JavaScript

#155 [규진] 통증
  04-brute-force-and-exhaustive-search/195690/gyujin.java
Labels: Java

#156 [대은] 통증
  04-brute-force-and-exhaustive-search/195690/Acisliver.java
Labels: Java

#153 [국인] 통증
  04-brute-force-and-exhaustive-search/195690/gukin-han.java
Labels: Java

#159 [진영] 통증
  04-brute-force-and-exhaustive-search/195690/zerocho.py
Labels: Python

#161 [하민] 폭탄 구현하기 (2)
  04-brute-force-and-exhaustive-search/195691/hamin.js
Labels: JavaScript

#162 [규진] 폭탄 구현하기(2)
  04-brute-force-and-exhaustive-search/195691/gyujin.java
Labels: Java

#163 [국인] 폭탄 구현하기 (2)
  04-brute-force-and-exhaustive-search/195691/gukin-han.java
Labels: Java

#160 [대은] 폭탄 구현하기 (2)
  04-brute-force-and-exhaustive-search/195691/Acisliver.java
Labels: Java

#169 [대은] GameJam
  04-brute-force-and-exhaustive-search/195692/Acisliver.java
Labels: Java

#168 [하민] Gamejam
  04-brute-force-and-exhaustive-search/195692/hamin.js
Labels: JavaScript

#166 [규진] GameJam
  04-brute-force-and-exhaustive-search/195692/gyujin.java
Labels: Java

#165 [국인] GameJam
  04-brute-force-and-exhaustive-search/195692/gukin-han.java
Labels: Java

#167 [진영] Gamejam
  04-brute-force-and-exhaustive-search/195692/zeroChoi.py
Labels: Python

#170 [대은] 통증(2)
  06-DP-LIS-BitMask/195693/Acisliver.java
Labels: Java

#173 [진영] 발전기
  06-DP-LIS-BitMask/196594/zeroChoi.py
Labels: Python

#172 [국인] 발전기
  06-DP-LIS-BitMask/gukin-han.java
Labels: Java

#171 [대은] 발전기
  06-DP-LIS-BitMask/195694/Acisliver.java
Labels: Java

#174 [규진] 발전기
  06-DP-LIS-BitMask/195694/gyujin.java
Labels: Java

#177 [진영] 발전기(2)
  06-DP-LIS-BitMask/195695/zeroChoi.py
Labels: Python

#175 [대은] 발전기 (2)
  03-dfs-bfs-graph/195695/Acisvlier.java
Labels: Java

#176 [국인] 발전기(2)
  03-dfs-bfs-graph/195695/gukin-han.java
Labels: Java

#178 [규진] 발전기(2)
  03-dfs-bfs-graph/195695/gyujin.java
Labels: Java

#181 [진영] 작은 노드
  06-DP-LIS-BitMask/195696/zeroChoi.py
Labels: Python

#179 [대은] 작은 노드
  03-dfs-bfs-graph/195696/Acisliver.java
Labels: Java
